.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.cabecalho h3 {
    margin: 0;
}

.formulario-modal {
    display: flex;
    align-items: flex-end;
}

.formulario-modal span {
    margin: 10px;
}